# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Игнорировать все файлы .css в папке css
src/styles/*.css

# Если есть карта исходников .css.map, её тоже можно игнорировать
src/styles/*.css.map

# Игнорировать всю папку dist
dist/

# Если скомпилированный CSS находится рядом с файлами SCSS, можно использовать маску:
*.css
*.css.map
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
