@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lusitana:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lusitana:wght@400;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lusitana:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lusitana:wght@400;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lusitana:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lusitana:wght@400;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.hero {
  margin: 0;
  height: 100vh;
  background-color: #333;
  font-weight: 100;
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: "no-repeat";
}
@media (max-width: 1200px) {
  .hero {
    height: 50vh;
  }
}
@media (max-width: 600px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.hero .hero_text {
  margin: 0;
  color: rgba(255, 248, 240, 0.8);
  margin: 0 40px;
  font-family: "Tinos", serif;
  font-weight: 700;
  font-size: 40px;
  padding: 60px 0 0 0;
}
@media (max-width: 1200px) {
  .hero .hero_text {
    font-size: 30px;
    padding: 30px 0 0 0;
  }
}
@media (max-width: 600px) {
  .hero .hero_text {
    margin: 0 20px;
    padding: 40px 0 0 0;
    font-size: 20px;
  }
}
.hero .hero_block_title {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Tinos", serif;
  font-weight: normal;
  font-size: 1.73vw;
  font-style: italic;
  padding: 0 22%;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 1200px) {
  .hero .hero_block_title {
    height: 50vh;
  }
}
@media (max-width: 900px) {
  .hero .hero_block_title {
    font-size: 1.73vw;
    padding: 0 12%;
  }
}
@media (max-width: 600px) {
  .hero .hero_block_title {
    padding: 0 5%;
  }
}
.hero .hero_block_title .checked_letter {
  font-family: "Great Vibes", cursive;
}
.hero .hero_block_title .hero_text_title {
  margin: 0;
  font-weight: 100;
}
@media (max-width: 1200px) {
  .hero .hero_block_title .hero_text_title {
    margin-top: 10px;
    padding: 10px 40px;
  }
}
.hero .hero_block_title .hero_btn {
  margin-top: 50px;
  padding: 20px 60px;
  border-radius: 40px;
  border: none;
  color: rgb(190, 131, 88);
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .hero .hero_block_title .hero_btn {
    margin-top: 10px;
    padding: 10px 40px;
  }
}
@media (max-width: 600px) {
  .hero .hero_block_title .hero_btn {
    margin-top: 20px;
  }
}
.hero .hero_block_title .hero_price {
  font-weight: 500;
  font-size: 15px;
}
.hero .hero_block_title .crossed-text {
  color: rgb(190, 131, 88);
  text-decoration: line-through;
  font-weight: 300;
}

/* Modal.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.modal-content .qr_code_img {
  background-image: url("../img/qr.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 300px;
  border-radius: 15px;
}
@media (max-width: 900px) {
  .modal-content .qr_code_img {
    height: 200px;
  }
}
@media (max-width: 330px) {
  .modal-content .qr_code_img {
    height: 100px;
  }
}
.modal-content .modal_content_text {
  width: 50%;
}
.modal-content h2 {
  margin-top: 0;
}
.modal-content .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.open-modal-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.blog-section {
  padding: 20px;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  margin-bottom: 60px;
}
.blog-section__bonus {
  font-family: "Tinos", serif;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-size: 2rem;
  margin-bottom: 20px;
}
.blog-section__bonus span {
  color: #ff6600;
  font-weight: bold;
}
.blog-section__title {
  color: #333;
  font-size: 3rem;
  font-family: "Tinos", serif;
  font-weight: 600;
  font-size: 1.73vw;
  font-style: italic;
  font-size: 4rem;
  padding: 60px 0 0 0;
}
.blog-section__title span {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-family: "Tinos", serif;
  font-weight: 600;
  font-size: 1.73vw;
  font-style: italic;
  font-size: 1.2em;
  color: #b87333;
}
.blog-section__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.blog-section__cards .card {
  position: relative;
  width: 280px;
  padding: 20px;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-section__cards .card--dark {
  background-color: #333;
  color: #fff;
}
.blog-section__cards .card--light {
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}
.blog-section__cards .card__number {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}
.blog-section__note {
  margin-top: 20px;
  font-size: 1rem;
  font-style: italic;
}

@media (max-width: 768px) {
  .blog-section__cards {
    flex-direction: column;
    align-items: center;
  }
  .blog-section__cards .card {
    width: 100%;
    max-width: 280px;
  }
  .blog-section__title {
    font-size: 1.5rem;
  }
  .blog-section__bonus {
    font-size: 0.9rem;
  }
}
.intensive-benefits {
  background-color: #333;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.intensive-benefits ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 200px;
  height: 600px;
  border-radius: 50% 50% 0 0;
  border: 4px solid #fffcfc;
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg) translate(-100px, 100px);
  opacity: 0.2;
}
.intensive-benefits__title {
  font-size: 2rem;
  margin-bottom: 40px;
}
.intensive-benefits__title span {
  font-family: "Cursive", sans-serif;
  color: #b87333;
}
.intensive-benefits__circles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  flex-wrap: wrap;
  z-index: 10;
}
.intensive-benefits__circles .intensive-benefits__circle {
  background-color: #444;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  border: solid 1px white;
  z-index: 11;
}
.intensive-benefits__circles .intensive-benefits__circle--highlighted {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  margin-right: -20px;
}
.intensive-benefits__circles .intensive-benefits__circle--highlighted-last {
  margin-bottom: 120px;
}
.intensive-benefits__circles ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10%;
  width: 200px;
  height: 600px;
  border-radius: 50% 50% 0 0;
  border: 4px solid #fffcfc;
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg) translate(-100px, 100px);
  opacity: 0.2;
  z-index: 0;
}
@keyframes draw-line {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .intensive-benefits__title {
    font-size: 1.5rem;
  }
  .intensive-benefits__circles {
    flex-direction: column;
  }
  .intensive-benefits__circles .intensive-benefits__circle {
    width: 150px;
    height: 150px;
  }
}
.useful {
  display: flex;
}
.useful-section {
  width: 50%;
  border: 1px solid #333;
  border-radius: 25px;
}
@media (max-width: 789px) {
  .useful-section {
    width: 100%;
  }
}
.useful-section__list {
  font-family: "Tinos", serif;
  font-weight: normal;
  font-size: 1.73vw;
  font-style: italic;
  color: #333;
  list-style-position: inside;
  padding-left: 0;
  text-align: left;
  padding: 40px;
  font-size: 50px;
  font-weight: 400;
}
@media (max-width: 500px) {
  .useful-section__list {
    font-size: 30px;
  }
}
@media (max-width: 300px) {
  .useful-section__list {
    font-size: 20px;
    padding: 10px;
  }
}
.useful-section__bg {
  width: 50%;
  margin-left: 100px;
}
.useful-section__bg_img {
  width: 100%;
  height: 90%;
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  background-image: url("../img/biology-1.png");
  background-repeat: no-repeat;
  /* Запрещаем повторение */
  background-size: cover;
  background-position: center;
}
@media (max-width: 1200px) {
  .useful-section__bg {
    display: none;
  }
}

.image-container {
  background-color: #333;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 200px;
  height: 600px;
  border-radius: 50% 50% 0 0;
  border: 4px solid #fffcfc;
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg) translate(-100px, 100px);
  opacity: 0.2;
}
.image-container:nth-child(even) {
  align-items: end;
}
.image-container img {
  width: 60%;
  height: auto;
  border-radius: 50px;
  margin: 10px 0;
}
@media (max-width: 789px) {
  .image-container img {
    width: 100%;
  }
}
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 10%;
  width: 200px;
  height: 600px;
  border-radius: 50% 50% 0 0;
  border: 4px solid #fffcfc;
  border-bottom: none;
  border-right: none;
  transform: rotate(-45deg) translate(-100px, 100px);
  opacity: 0.2;
  z-index: 0;
}

.footer {
  background-color: rgba(51, 51, 51, 0.5);
  height: auto;
}

.guarantees {
  display: flex;
  align-items: center;
  justify-content: center;
}
.guarantees__block {
  width: 80%;
  background-color: #333;
}/*# sourceMappingURL=index.css.map */