/* Modal.scss */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); // Напівпрозорий фон
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;

    @media (max-width:800px) {
        width: 70%;
        height: 40%;
    }

    .modal-text {
        margin-bottom: 20px;
        font-size: 3rem;
        font-family: "Tinos", serif;
        font-weight: 600;
        font-size: 1.75vw;
        font-style: italic;
        background-color: rgb(225, 246, 246);
        border-radius: 25px;
        color: rgb(94, 92, 92);
        padding: 5px;
    }

    .qr_code_img {
        background-image: url('../img/qr.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 50%;
        height: 300px;
        border-radius: 15px;

        @media (max-width:900px) {

            height: 200px;
        }

        @media (max-width:330px) {
            // width: 100px;
            height: 100px;
        }
    }

    .modal_content_text {
        padding-left: 10px;
        width: 50%;

        &__link_pay {
            margin-bottom: 50px;
            margin-top: 30px;
            color: green;
            text-decoration: none;
            background-color: darkseagreen;
            padding: 10px;
            font-size: 15px;
            border-radius: 25px;
        }

    }

    h2 {
        margin-top: 0;
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }
}

.open-modal-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}